//主题色
$ThemeColors: #FCDC46;

@for $i from 1 through 5 {
    .u-line-#{$i} {

        // vue下，单行和多行显示省略号需要单独处理
        @if $i=="1" {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        @else {
            display: -webkit-box !important;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-line-clamp: $i;
            -webkit-box-orient: vertical !important;
        }
    }
}

.f {
    display: flex;
}

.f-shrink0 {
    flex-shrink: 0;
}

.f-jc {
    display: flex;
    justify-content: center;
}

.f-jc-ac {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-jc-as {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.f-jb-as {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.f-jb-ae {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.f-jc-ae {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.f-as {
    display: flex;
    align-items: flex-start;
}

.f-ac {
    display: flex;
    align-items: center;
}

.f-ae {
    display: flex;
    align-items: flex-end;
}

.f-ac-je {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.f-ja {
    display: flex;
    justify-content: space-around;
}

.f-ja-ac {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.f-jb {
    display: flex;
    justify-content: space-between;
}

.f-jb-ac {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-je-ac {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.f-jb-ac-fw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-w {
    flex-wrap: wrap;
}

.fd-c {
    flex-direction: column;

}

.pointer {
    cursor: pointer;
}

.page-container {
    width: 100%;
    height: 100%;
    background-color: rgb(246, 246, 246);
    min-height: 1000px;
}

.content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


// elemenui  默认样式

:deep(.el-breadcrumb__inner.is-link:hover) {
    color: #ce9433;
}

:deep(.el-pagination.is-background .el-pager li.is-active) {
    background-color: $ThemeColors;
    color: #212930;
}

:deep(.el-pagination--small .btn-next) {
    height: 28px;
    width: 28px;
}

:deep(.el-pagination--small .btn-prev) {
    height: 28px;
    width: 28px;
}

:deep(.el-pagination--small .el-pager li) {
    height: 28px;
    width: 28px;
    font-size: 16px;
}

:deep(.el-tabs__item) {
    font-size: 16px;
    font-weight: bold;
    padding: 0 37px;
}

:deep(.el-tabs__item.is-active, .el-tabs__item:hover) {
    color: #ce9433;
}

:deep(.el-tabs__active-bar) {
    background-color: #ce9433;
}

:deep(.el-tabs__item:hover) {
    color: #ce9433;
}

:deep(.el-checkbox__input.is-checked .el-checkbox__inner){
    background-color:$ThemeColors;
    border-color:$ThemeColors;
}
:deep(.el-checkbox__inner:hover){
    border-color:$ThemeColors;
}


:deep(.el-input-number__decrease:hover) {
    color: $ThemeColors;
  }
  :deep(.el-input-number__increase:hover) {
    color:$ThemeColors;
  }
  :deep(.el-input__wrapper:hover) {
    box-shadow: 0 0 0 1px $ThemeColors inset;
  }
  :deep(.el-input-number__decrease:hover ~ .el-input:not(.is-disabled) .el-input__wrapper) {
    box-shadow: 0 0 0 1px $ThemeColors inset;
  }
  :deep(.el-input-number__increase:hover ~ .el-input:not(.is-disabled) .el-input__wrapper) {
    box-shadow: 0 0 0 1px $ThemeColors inset;
  }