@font-face {
  font-family: "iconfont"; /* Project id 4883476 */
  src: url('iconfont.woff2?t=1749110687031') format('woff2'),
       url('iconfont.woff?t=1749110687031') format('woff'),
       url('iconfont.ttf?t=1749110687031') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing-zhengyan:before {
  content: "\e63a";
}

.icon-wodeyisheng:before {
  content: "\e6aa";
}

.icon-yezi:before {
  content: "\e654";
}

.icon-playcircle:before {
  content: "\e80f";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-qiyeweixin:before {
  content: "\e6af";
}

.icon-ic_call:before {
  content: "\e622";
}

.icon-baozhang:before {
  content: "\e878";
}

.icon-lock:before {
  content: "\e881";
}

.icon-tuihuo:before {
  content: "\e607";
}

.icon-tuihuo1:before {
  content: "\e648";
}

.icon-weixinzhifu:before {
  content: "\e639";
}

.icon-ziyuan:before {
  content: "\e63b";
}

.icon-liwuhuodong:before {
  content: "\e60a";
}

.icon-anquanbaozhang:before {
  content: "\e695";
}

.icon-xianshimima:before {
  content: "\e653";
}

.icon-yincangmima:before {
  content: "\e60c";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-tuichu:before {
  content: "\e62f";
}

.icon-kechengguanli:before {
  content: "\e630";
}

.icon-24gf-playCircle:before {
  content: "\ea83";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-xiaochengxu:before {
  content: "\e62e";
}

.icon-huanyihuan:before {
  content: "\e62d";
}

.icon-sousuo:before {
  content: "\e795";
}

.icon-sangejiantou-right:before {
  content: "\e60d";
}

