@font-face {
  font-family: "iconfont"; /* Project id 4883476 */
  src: url('iconfont.woff2?t=1744441807094') format('woff2'),
       url('iconfont.woff?t=1744441807094') format('woff'),
       url('iconfont.ttf?t=1744441807094') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-tuichu:before {
  content: "\e62f";
}

.icon-kechengguanli:before {
  content: "\e630";
}

.icon-24gf-playCircle:before {
  content: "\ea83";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-xiaochengxu:before {
  content: "\e62e";
}

.icon-huanyihuan:before {
  content: "\e62d";
}

.icon-sousuo:before {
  content: "\e795";
}

.icon-sangejiantou-right:before {
  content: "\e60d";
}

